<template>
  <div id="app" @click="handleDocumentClick">
    <!-- Radial Menu -->
    <div
      v-if="showMenu"
      class="radial-menu"
      :style="{ top: `${menuPosition.y}px`, left: `${menuPosition.x}px` }"
    >
      <div
        v-for="(item, index) in menuItems"
        :key="item"
        class="menu-item"
        :style="getItemPosition(index)"
        @click.stop="selectItem(item)"
      >
        {{ item }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showMenu: false,
      menuPosition: { x: 0, y: 0 },
      menuItems: ['🍦', '🍫', '🍿', '🍭', '🍕', '🍟'], // Fixed to 6 items
      radius: 120, // Radius of the circle for the menu items
    };
  },
  methods: {
    handleDocumentClick(e) {
      if (!this.showMenu) {
        this.showMenu = true;
        this.menuPosition = { x: e.clientX, y: e.clientY };
      } else {
        this.showMenu = false;
      }
    },
    selectItem(item) {
      alert(`You selected: ${item}`);
      this.showMenu = false; // Hide the menu after selection
    },
    getItemPosition(index) {
      // Total 6 items, so calculate angle for each
      const totalItems = 6;
      const angle = (2 * Math.PI * index) / totalItems; // Angle in radians for 6 positions

      // Calculate the position using trigonometry
      const x = this.radius * Math.cos(angle);
      const y = this.radius * Math.sin(angle);

      return {
        transform: `translate(${x}px, ${y}px)`,
      };
    },
  },
};
</script>

<style>
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

#app {
  width: 100%;
  height: 100%;
}

.radial-menu {
  position: absolute;
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  position: absolute;
  border: 1px solid black;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: beige;
}
</style>
